// colors
$color-1: #3e585f; // green dark
$color-2: #f82f53; // crimson
$color-3: #47374e; // purple
$color-4: #ffffff; // white
$color-5: #131722;
$background-color: #2d3436;
$background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);

$footer-height:300px;
$header-color:#7207b6;
$main-color:#131722;//#282d32;
$sub-color: #3a3a3a;// #7207b6;
$sub-desc-color: #DDD;// #7207b6;

$dark-header-color: #FFF;

// sizes
$item-w:150px;
$item-h:230px;

// fonts
$primary-font: 'PT Sans', sans-serif;
