<div class="row header-container">
  <!-- <img class="icon" src="../../../assets/image/film-outline.svg"> -->
  <div class="movie-title col-3">
    <span>LIGHT MOVIE</span>
  </div>

  <div class="col-6">
    <app-paging></app-paging>
  </div>
  <div class="menu-container col-3">
    <div class="menu" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512"><title>Search Menu</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
    </div>
  </div>

</div>
