.menu-container{
  padding-top: 50px;
  text-align: center;
}
.search-container{
  display: flex;
  width: 100%;
  justify-content: center;
}
mat-form-field{
  width: 15rem;
}
.search-button{
  width: 10rem;
  height: 30px;
  background-color: var(--header-bg-color);
  border: 2px solid var(--text-color);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;
    &:hover{
      opacity: 1;
    }
  .icon{
    width: 30px;
    fill: var(--text-color);
  }
}

