<div class="menu-container">
  <mat-form-field appearance="fill">
    <mat-label>Genres</mat-label>
    <mat-select [(ngModel)]="criteria.genre" name="genres">
      <mat-option *ngFor="let g of listGenres" [value]="g">
        {{g}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput #title maxlength="30" placeholder="Ex. titanic" [(ngModel)]="criteria.title">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput #year maxlength="4" placeholder="Ex. 2019" [(ngModel)]="criteria.year">
  </mat-form-field>
  <div class="search-container" (click)="searchMovie()">
    <div class="search-button"><svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512"><title>Search</title><path d="M456.69 421.39L362.6 327.3a173.81 173.81 0 0034.84-104.58C397.44 126.38 319.06 48 222.72 48S48 126.38 48 222.72s78.38 174.72 174.72 174.72A173.81 173.81 0 00327.3 362.6l94.09 94.09a25 25 0 0035.3-35.3zM97.92 222.72a124.8 124.8 0 11124.8 124.8 124.95 124.95 0 01-124.8-124.8z"/></svg></div>
  </div>
</div>
