// colors
$background-color: #2d3436;
$background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
$sub-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);//#333;
$sub-desc-color: #222;
$page-title: #f6af54;
$header-bg-color:#131722;
$header-color: #FFF;
$text-color: #FFF;
$menu-background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(115,116,115,0) 35%, rgba(14,16,15,1) 50%);


$light--background-color:  #fafafa;
$light--background-image: linear-gradient(to right,#2f80ed, #56ccf2);//linear-gradient(315deg, #fafafa 0%, #908a8a 74%);
$light--sub-color: #f5f5f5;
$light--sub-desc-color: #fff;
$light--page-title: #2f80ed;
$light--header-bg-color: linear-gradient(to right, #56ccf2, #2f80ed);//#f7f9ff;
$light--header-color: rgb(5, 4, 4);
$light--text-color: #000;
$light--menu-background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(227,235,232,0) 35%, rgb(227,235,232) 50%);
// sizes
$item-w:150px;
$item-h:230px;

// fonts
$primary-font: 'PT Sans', sans-serif;
