<div class="pagination-wrapper">
  <svg class="btn btn--prev" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <title>Previous Page</title>
    <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
    <path d="M0-.5h24v24H0z" fill="none"/>
  </svg>

  <div class="pagination-container">
    <div class="little-dot  little-dot--first"></div>
    <div class="little-dot">
      <div class="big-dot-container">
        <div class="big-dot"></div>
      </div>
    </div>
    <div class="little-dot  little-dot--last"></div>
  </div>

  <svg class="btn btn--next" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <title>Next Page</title>
    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
    <path d="M0-.25h24v24H0z" fill="none"/>
  </svg>
</div>
