<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>RESOURCES</h3>
                  <ul>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Resource Listing</a></li>
                      <li><a href="#">Blog</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>HELP</h3>
                  <ul>
                      <li><a href="#">Report Issues</a></li>
                      <li><a href="#">Stack Overflow</a></li>
                      <li><a href="#">Gitter</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3>Light Movie</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis enim possimus, sit sed voluptate mollitia dolor magni. Adipisci nemo, reiciendis rem recusandae ullam labore hic rerum minus sed perferendis optio.</p>
              </div>
              <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
          </div>
          <p class="copyright">Light Movie © 2022</p>
      </div>
  </footer>
</div>
