// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import 'assets/style/variables'; // colors, fonts etc...
@import 'assets/style/mixins'; // custom mixins
@import 'assets/style/layout'; // media queries
@import '../node_modules/bootstrap-4-grid/scss/grid';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$LightFilm-primary: mat.define-palette(mat.$indigo-palette);
$LightFilm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$LightFilm-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$LightFilm-theme: mat.define-light-theme((
  color: (
    primary: $LightFilm-primary,
    accent: $LightFilm-accent,
    warn: $LightFilm-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($LightFilm-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.row,[class^='col-']{
  margin:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
}
mat-label{
  color: var(--text-color);
}
.mat-form-field-appearance-fill .mat-form-field-underline::before{
  background-color: var(--text-color) !important;
}
.mat-select-value-text{color: var(--text-color);}
.mat-select-arrow{
  color: var(--text-color) !important;
}
.mat-input-element{
  color: var(--text-color) !important;
}
:root {
  --background-color: #{$background-color};
  --background-image: #{$background-image};
  --sub-color: #{$sub-color};
  --sub-desc-color: #{$sub-desc-color};
  --page-title:#{$page-title};
  --header-bg-color: #{$header-bg-color};
  --header-color: #{$header-color};
  --text-color: #{$text-color};
  --menu-background: #{$menu-background};
}
.light{
  --background-color: #{$light--background-color};
  --background-image: #{$light--background-image};
  --sub-color: #{$light--sub-color};
  --sub-desc-color: #{$light--sub-desc-color};
  --page-title:#{$light--page-title};
  --header-bg-color: #{$light--header-bg-color};
  --header-color: #{$light--header-color};
  --text-color: #{$light--text-color};
  --menu-background: #{$light--menu-background};
}
